[submodule "third_party/amd_matrix_instruction_calculator"]
	path = third_party/amd_matrix_instruction_calculator
	url = https://github.com/ROCm/amd_matrix_instruction_calculator.git
[submodule "third_party/fsr4-rdna3-optimization"]
	path = third_party/fsr4-rdna3-optimization
	url = https://github.com/lhl/fsr4-rdna3-optimization.git
[submodule "third_party/graphify"]
	path = third_party/graphify
	url = https://github.com/xynexus/graphify.git
[submodule "third_party/heretic"]
	path = third_party/heretic
	url = https://github.com/p-e-w/heretic.git
[submodule "third_party/stable-diffusion-webui"]
	path = third_party/stable-diffusion-webui
	url = https://github.com/AUTOMATIC1111/stable-diffusion-webui.git
[submodule "third_party/moshi"]
	path = third_party/moshi
	url = https://github.com/kyutai-labs/moshi.git
[submodule "third_party/zyphra-transformers"]
	path = third_party/zyphra-transformers
	url = https://github.com/Zyphra/transformers
[submodule "third_party/ares"]
	path = third_party/ares
	url = https://github.com/dirmacs/ares.git
[submodule "third_party/xdna-driver"]
	path = third_party/xdna-driver
	url = https://github.com/amd/xdna-driver.git
[submodule "third_party/llvm-aie"]
	path = third_party/llvm-aie
	url = https://github.com/Xilinx/llvm-aie.git
[submodule "third_party/dflash"]
	path = third_party/dflash
	url = https://github.com/z-lab/dflash.git
[submodule "third_party/dspark"]
	path = third_party/dspark
	url = https://github.com/deepseek-ai/DeepSpec.git
[submodule "third_party/DeepSpec"]
	path = third_party/DeepSpec
	url = https://github.com/deepseek-ai/DeepSpec.git
[submodule "third_party/IRON"]
	path = third_party/IRON
	url = https://github.com/amd/IRON
[submodule "third_party/amdgpu_top"]
	path = third_party/amdgpu_top
	url = https://github.com/Umio-Yasuno/amdgpu_top.git
[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
